{% extends "layouts/default.html" %}

{% block content %}
    <div class="subscription-container">
        <h2>اختر خطة الاشتراك</h2>
        <div class="plans">
            <div class="plan">
                <h3>شهر واحد - 50 درهم</h3>
                <p>وصف الخطة</p>
                <img src="images/western_union.png" alt="Western Union">
            </div>
            <div class="plan">
                <h3>3 شهور - 120 درهم</h3>
                <p>وصف الخطة</p>
                <img src="images/wafacash.png" alt="Wafacash">
            </div>
            <div class="plan">
                <h3>6 شهور - 220 درهم</h3>
                <p>وصف الخطة</p>
                <img src="images/cash_plus.png" alt="Cash Plus">
            </div>
            <div class="plan">
                <h3>سنة واحدة - 500 درهم</h3>
                <p>وصف الخطة</p>
                <img src="images/moneygram.png" alt="MoneyGram">
            </div>
        </div>
        <button onclick="window.location.href='https://wa.me/2120770905027'">للتواصل من أجل الاشتراك</button>
    </div>
{% endblock %}
